@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data collected through the web app is for professional interview process, abide by the GDPR regulations and will 
not be shared with any third parties.</p>
